name: Build & Deploy Application
on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main

concurrency:
  group: build-and-deploy
  cancel-in-progress: false

jobs:
  # Lint yaml codebase
  lint-yaml:
    name: Lint Yaml Pipelines
    uses: powellrhys/powellrhys-iac/.github/workflows/template-lint-yaml.yml@v1.0.3
    with:
      config_path: '.yamllint.yml'

  # Lint python codebase
  lint-python:
    name: Lint Python Codebase
    uses: powellrhys/powellrhys-iac/.github/workflows/template-lint-python.yml@v1.0.3
    with:
      config_path: '.flake8'
      code_directory: '.'

  # Run PyTests
  pytesting:
    name: Run PyTests
    uses: powellrhys/powellrhys-iac/.github/workflows/template-run-pytests.yml@v1.0.3
    secrets:
      codecov_token: ${{ secrets.codecov_token }}
    with:
      toml_dependencies: '.[frontend,backend,testing]'

  # Build & Push Application
  build-application:
    name: Build Application
    needs: ['lint-yaml', 'lint-python', 'pytesting']
    uses: powellrhys/powellrhys-iac/.github/workflows/template-build-and-push-container.yml@v1.0.3
    secrets:
      docker_password: ${{ secrets.docker_password }}
    with:
      image_name: strava-streamlit-frontend
      docker_file_path: frontend/Dockerfile

  # Execute Plan
  plan:
    name: Plan
    needs: ['build-application']
    uses: powellrhys/powellrhys-iac/.github/workflows/template-plan-apply-terraform.yml@v1.0.3
    with:
      tf_directory: 'infra'
      tf_vars_file_name: 'values.tfvars'
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      app_service_app_settings: ${{ secrets.app_service_app_settings }}

  # Execute apply
  apply:
    needs: ['plan']
    name: Apply
    if: needs.plan.outputs.has_changes == 'true'
    uses: powellrhys/powellrhys-iac/.github/workflows/template-plan-apply-terraform.yml@v1.0.3
    with:
      should_apply: 'true'
      release_environment: 'PROD'
      tf_directory: 'infra'
      tf_vars_file_name: 'values.tfvars'
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      app_service_app_settings: ${{ secrets.app_service_app_settings }}

  # Restart App Service
  restart-appservice:
    needs: ['apply']
    if: always() && (needs.apply.result == 'success' || needs.apply.result == 'skipped')
    name: Restart App Service
    uses: powellrhys/powellrhys-iac/.github/workflows/template-restart-appservice.yml@v1.0.3
    with:
      webapp_name: strava-streamlit-frontend
      resource_group: powellrhys-app-service-plan-rg
    secrets:
      azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
