name: Update Data
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - '.github/workflows/update-data.yml'
      - 'backend/**'
  push:
    branches:
      - main

concurrency:
  group: update-data
  cancel-in-progress: false

jobs:
  Update-Data:
    runs-on: ubuntu-latest

    steps:
      # Check out codebase
      - name: Checkout code
        uses: actions/checkout@v4

      # Setup python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      # Install Poetry
      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry

      # Install project dependencies via Poetry
      - name: Install dependencies
        run: |
          poetry install --no-interaction

      # Run data collection script
      - name: Run Data Collection Script
        env:
          client_id: ${{ secrets.CLIENT_ID }}
          client_secret: ${{ secrets.CLIENT_SECRET }}
          refresh_token: ${{ secrets.REFRESH_TOKEN }}
          blob_connection_string: ${{ secrets.BLOB_CONNECTION_STRING }}
        run: |
          poetry run python -m backend.collect_data
